body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    /* Center the content horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f3f3;
    box-sizing: border-box;
}

/* Gallery styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 10px;
    padding: 0 10px; 
    box-sizing: border-box; 
}

/* Image styles */
.slides img {
    width: 100%; 
    max-width: 300px; 
    margin: 10px; 
    cursor: pointer;
    transition: transform 0.2s;
}

/* Image hover styles */
.slides img:hover {
    transform: scale(1.1);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Modal content styles */
.modal-content {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 900px;
    padding: 15px;
    box-sizing: border-box;
}

/* Slide styles */
.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
}

/* Previous and next button styles */
.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    border-radius: 3px;
    justify-content: center;
}

.prev {
    left: 13px;
}

.next {
    right: 13px; 
}

/* Previous and next button hover styles */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Close button styles */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}